<!-- founded here: https://github.com/sindresorhus/github-markdown-css -->
<link rel="stylesheet" type="text/css" href="/css/github-markdown/github-markdown.css">
<link rel="stylesheet" type="text/css" href="/css/github-markdown/github-markdown-additional.css">
<style>
    .container {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }
    .markdown-body {
        margin-bottom: 10px;
    }
</style>